<div class="container">
    <h1>Produccion</h1>
    <!--ng-controller="GastosCtrl"-->
    <div>
        <h2>Nuevo Producto</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="cost.name" size="30" placeholder="Ingrese nombre del producto">
                </div>                           
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Componente:</label>
                <div class="col-sm-3">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>  
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">Cantidad:</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" ng-model="cost.valor" size="30" placeholder="Ingrese Cantidad">
                </div> 
             </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">Medida:</label>
                 <div class="col-sm-1">
                    
                     <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
             </div> 
              <div class="col-sm-2">
                <button type="submit" class=" btn btn-primary" ng-click="addGasto(cost)">Agregar</button>
              </div>




        </form>

        <table class="table ">
            <thead>
                <tr>
                    <th>Componente</th>
                    <th>Cantidad</th>
                    <th>Medida</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="costo in expenses">
                    <td>{{costo.fecha| date:'hh:mm a'}}</td>
                    <td>{{costo.name}}</td>
                    <td>{{costo.valor| currency:undefined:0}}</td>
                    <td class="td-delete"><button type="submit" class="glyphicon glyphicon-remove" ng-click="deleteGasto(costo.id)"></button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
